.orange {
    background: radial-gradient(100% 1280.05% at 0% 0%, #FF6A38 0%, #FFAC38 100%);
    box-shadow: 2px 2px 8px rgba(204, 100, 65, 0.4);
    font-size: 18px;
    color: #FFFFFF;
}

.black {
    background: #3A3042;
    color: #FFFFFF;
    font-size: 16px;
}

.full-orange {
    background: #FF6A38;
    font-size: 18px;
    color: #FFFFFF;
}