@import "./globals.css";

h1 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #1F1A24;
}

h2 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #1F1A24;
}

p {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #343036;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
}